.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  text-decoration: none !important;
  border-radius: 3px;
  color: inherit;

  &--default {
    background: #eee;
    border: 1px solid #ddd;
    color: #000;

    &:hover {
      background: #e8e8e8;
    }
  }

  &--icon {
    background: none;
    border: none;
  }

  &--facebook {
    background-color: #3b5998;
    color: #fff;
  }
  &--twitter {
    background-color: #4099FF;
    color: #fff;
  }
  &--email {
    background-color: #aaa;
    color: #fff;
  }
  &--print {
    background-color: #eee;
    color: #999;
  }
}
