.l-ingredient {
  margin-bottom: 2rem;

  &__head {
    @media screen and (min-width: 700px) {
      float: left;
    }
  }

  &__media {
    margin-bottom: 1rem;

    @media screen and (min-width: 700px) {
      float: right;
      max-width: 300px;
      margin-left: 1rem;
    }
  }

  &__body {
    clear: left;
  }

  &__body {
    overflow: hidden;
  }

  &__stores {
    li {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }
}
