.ingredient {

  &__media {
    margin-bottom: 1rem;

    @media screen and (min-width: 700px) {
      float: right;
      max-width: 300px;
      margin-left: 1rem;
    }
  }

  &__body {
    overflow: hidden;
  }
}
