.search {

  &-box {
    margin-bottom: 1rem;

    &__label {
      display: none;
    }
    &__input {
      input {
        display: block;
        width: 100%;
        height: 3rem;
        padding: 1rem;
        font-size: 1rem;
        box-sizing: border-box;
      }
    }
    &__btn {
        display: none;
    }
  }

  &-results {
    padding: 0;
    margin: 0 0 -1rem;
    list-style-type: none;

    &__item {
      // padding: 1rem;
      margin-bottom: 1.5rem;
      // background: #eee;
      // border: 1px solid #ddd;
    }
    &__title {
      margin: 0 0 0.25rem;
    }
    &__link {
      text-decoration: none;
      color: $c-primary;
    }
    &__copy {
      margin: 0 0 0.25rem;
    }
    &__ingredients {
      margin: 0;
    }
  }
}
