@import 'colors';
@import 'btn';
@import 'header';
@import 'nav';
@import 'brand';
@import 'posts';
@import 'recipe';
@import 'search';

body {
  margin: 1em 0;
  font-family: helvetica, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  padding: 0 1em;
  max-width: 960px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
