body {
  margin: 0 0 1em;
  font-family: helvetica, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  text-decoration: none !important;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #000;

  &:hover {
    background: #ddd;
  }
}


.container {
  padding: 0 1em;
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.header {
  /*margin-bottom: 1em;*/
  background: #fff;
  color: #333;
}
@media print {
  .header {
    display: none;
  }
}


.header__brand {
  margin: 0;
}

.brand {
  text-decoration: none;
  text-shadow: 0 1px #000;
  color: inherit;
}

.nav {
  background: #fff;
}
.nav__items {

}
.nav__item {

}
.nav__link {

}




.posts {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.posts__item {
  vertical-align: top;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 700px) {
  .posts {
    margin-left: -1em;
  }
  .posts__item {
    display: inline-block;
    width: 50%;
    padding-left: 1em;
  }
}
@media (min-width: 900px) {
  .posts__item {
    width: 33.3334%;
  }
}


.post {
  margin-bottom: 2em;
}
.post__image {
  position: relative;
  display: block;
  padding-bottom: 80%;
  margin-bottom: 1em;
  overflow: hidden;
}
.post__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.post__body {
}
.post__title {
  display: block;
  margin: 0.5rem 0;
  font-family: serif;
  font-size: 1.5rem;
}
.post__date {
  margin: 0 0 1rem;
  font-size: 90%;
}
.post__category {
  margin: 0;
  font-size: 90%;
  /*text-transform: uppercase;*/
}
/*.post__category--breakfast {
  background-color: #ffb837;
  color: #fff;
}
.post__category--dinner {
  background-color: #bada55;
  color: #fff;
}*/
.post__copy {
  display: none;
}
.post__link {
  text-decoration: none;
  color: inherit;
}
.post__cta {
  display: inline-block;
  color: inherit;
}




.recipe {
  margin-bottom: 1em;
}
.recipe__title {

}
@media (min-width: 700px) {
  .recipe__media,
  .recipe__body {
    vertical-align: top;
    display: inline-block;
    width: 50%;
  }
  .recipe__body {
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.recipe__share {
  margin-bottom: 1em;
}
.recipe__navigation {
  overflow: hidden;
}
.recipe__next,
.recipe__prev {
  max-width: 50%;
}
.recipe__next::before {
  content: '<< ';
}
.recipe__next {
  float: left;
}
.recipe__prev::after {
  content: ' >>';
}
.recipe__prev {
  float: right;
  text-align: right;
}
@media print {
  .recipe__media,
  .recipe__navigation,
  .recipe__share,
  .recipe__print {
    display: none;
  }
}


.ingredients {
  overflow: hidden;
  /*padding: 0;
  margin: 0;
  list-style-type: none;*/
}
.ingredients__item {
  /*border-bottom: 1px solid #eee;*/
  /*margin-bottom: 0.5rem;*/
}
.ingredients__name {
  /*font-weight: bold;*/
}
.ingredients__amount {
  float: right;
  clear: right;
  display: inline-block;
  margin-left: 1em;
}
