<header class="header">

  <div class="container">

    <div class="header__title">
      <h1><a href="/">{{ site.title }}</a></h1>
    </div>

    <div class="header__nav">
      <div class="header__nav-toggle">
        <a href="#" class="btn btn--icon js-nav-toggle"><i class="fa fa-fw fa-bars"></i></a>
      </div>

      <nav class="nav js-nav">
        {% assign pages = site.pages | sort:"index" %}
        <ul class="nav__items">
          {% for page in pages %}
            {% if page.title %}
            <li class="nav__item">
              <a href="{{ page.url | relative_url }}" class="nav__link">{{ page.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

  </div>

</header>
