---
layout: default
---
<div class="ingredient">
  <div class="ingredient__head">
    <h1>{{ page.title }}</h1>
  </div>
  {% if page.image %}
  <div class="ingredient__media">
    <img src="{{ page.image }}" alt="">
  </div>
  {% endif %}
  <div class="ingredient__body">
    {{ page.content }}

    {% if page.stores %}
      <h3>{{ page.name }} is available in the following stores</h3>
      <table>
        {% for store in page.stores %}
          {% assign store_obj = site.store | where: "slug", store.store[0] | first %}
          <tr>
            <th>{{ store_obj.name }}</th>
            <td><a href="{{ store.link }}" target="_blank">View it here</a></td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</div>

<div class="ingredient__comments">
  {% include comments.html %}
</div>
