---
layout: default
---
<div class="l-ingredient">
  <div class="l-ingredient__head">
    <h1>{{ page.title }}</h1>
  </div>
  {% if page.image %}
  <div class="l-ingredient__media">
    <img src="{{ page.image }}" alt="">
  </div>
  {% endif %}
  <div class="l-ingredient__body">
    {{ page.content }}

    {% if page.stores[0].store != nil %}
      <p><strong>{{ page.name }} is available in the following stores</strong></p>
      <ul class="list list--inline">
        {% for store in page.stores %}
          {% assign store_obj = site.store | where: "slug", store.store[0] | first %}
          <li>
            <a href="{{ store.link }}" target="_blank" class="btn btn--default">{{ store_obj.name }} <i class="fa fa-external-link"></i></a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

<div class="l-ingredient__comments">
  {% include comments.html %}
</div>
