---
layout: default
---
<div class="recipe" itemscope itemtype="http://schema.org/Recipe">

  <div class="recipe__head">
    <h1 class="recipe__title"><span itemprop="name">{{ page.title }}</span></h1>
  </div>

  <div class="recipe__media">
    <div class="recipe__image">
      <img src="{{ page.image | relative_url }}" alt="Image of recipe" itemprop="image">
    </div>
  </div><!--

--><div class="recipe__body">
    <div class="recipe__copy" itemprop="description">
      {{ content }}
    </div>

    <div class="recipe__info">
      {% if page.prep %}
      <p class="recipe__info-item recipe__info-item--prep"><i class="fa fa-fw fa-clock-o"></i> <strong>Prep time</strong> {{ page.prep }}</p>
      {% endif %}
      {% if page.cook %}
      <p class="recipe__info-item recipe__info-item--cooking"><i class="fa fa-fw fa-clock-o"></i> <strong>Cook time</strong> {{ page.cook }}</p>
      {% endif %}
      {% if page.serves %}
      <p class="recipe__info-item recipe__info-item--serves"><i class="fa fa-fw fa-cutlery"></i> <strong>Serves</strong> <span class="recipeYield">{{ page.serves }}</span></p>
      {% endif %}
    </div>

    {% include recipes/ingredients.html %}

    {% include recipes/instructions.html %}

  </div>

  <div class="recipe__cta">

    {% include recipes/share.html %}

    {% include recipes/print.html %}

  </div>

  {% include recipes/author.html %}

</div>

{% include recipes/navigation.html %}

{% if page.comments %}
  <div class="recipe__comments">
    <!-- <h2>Comments</h2> -->
    {% include comments.html %}
  </div>
{% endif %}
