---
layout: default
comments: true
---
<div class="recipe" itemscope itemtype="http://schema.org/Recipe">
  <div class="recipe__head">
    <h1 class="recipe__title"><span itemprop="name">{{ page.title }}</span></h1>
  </div>

  <div class="recipe__media">
    <div class="recipe__image">
      <img src="{{ page.image }}" alt="Image of recipe" itemprop="image">
    </div>
  </div><!--

--><div class="recipe__body">
    <div class="recipe__copy" itemprop="description">
      {{ content }}
    </div>

    <div class="recipe__info">
      {% if page.prep %}
      <p class="recipe__info-item recipe__info-item--prep"><i class="fa fa-fw fa-clock-o"></i> <strong>Prep time</strong> {{ page.prep }}</p>
      {% endif %}
      {% if page.cook %}
      <p class="recipe__info-item recipe__info-item--cooking"><i class="fa fa-fw fa-clock-o"></i> <strong>Cook time</strong> {{ page.cook }}</p>
      {% endif %}
      {% if page.serves %}
      <p class="recipe__info-item recipe__info-item--serves"><i class="fa fa-fw fa-cutlery"></i> <strong>Serves</strong> <span class="recipeYield">{{ page.serves }}</span></p>
      {% endif %}
    </div>

    {% include recipes/ingredients.html %}

    {% include recipes/instructions.html %}

  </div>

  <div class="recipe__cta">
    <div class="recipe__share">
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | absolute }}" target="_blank" rel="nofollow" class="btn btn--icon btn--facebook"><i class="fa fa-fw fa-facebook"></i></a>
      <a href='http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.twitter_username }}' class="btn btn--icon btn--twitter"><i class="fa fa-fw fa-twitter"></i></a>
      <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" class="btn btn--icon btn--email"><i class="fa fa-fw fa-envelope text-email"></i></a>
      <span>Share Recipe</span>
    </div>

    <div class="recipe__print">
      <a href="#" class="btn btn--icon btn--print" onclick="window.print()"><i class="fa fa-fw fa-print"></i></a>
      <span>Print&nbsp;Recipe</span>
    </div>
  </div>

  {% include recipes/author.html %}

</div>

<div class="recipe__navigation">
  {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}" class="btn recipe__next">{{ page.next.title }}</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url}}" class="btn recipe__prev">{{ page.previous.title }}</a>
  {% endif %}
</div>

{% if page.comments %}
  <div class="recipe__comments">
    <!-- <h2>Comments</h2> -->
    {% include comments.html %}
  </div>
{% endif %}
