---
layout: default
comments: true
---
<div class="recipe" itemscope itemtype="http://schema.org/Recipe">

  <div class="recipe__media">
    <div class="recipe__image">
      <img src="{{ page.image }}" alt="Image of recipe" itemprop="image">
    </div>
  </div><!--

  --><div class="recipe__body">
    <h1 class="recipe__title"><span itemprop="name">{{ page.title }}</span></h1>
    <div class="recipe__copy" itemprop="description">
      {{ content }}
    </div>

    {% if page.prep %}
    <p class="recipe__info recipe__info--prep"><strong>Prep time</strong>{{ page.prep }}</p>
    {% endif %}
    {% if page.cook %}
    <p class="recipe__info recipe__info--cooking"><strong>Cook time</strong> {{ page.cook }}</p>
    {% endif %}
    {% if page.serves %}
    <p class="recipe__info recipe__info--serves"><strong>Serves</strong> <span class="recipeYield">{{ page.serves }}</span></p>
    {% endif %}

    <div class="recipe__ingredients">
      <h2 class="ingredients__title">Ingredients</h2>
      {% if page.ingredients.size > 1 %}
        <ul class="ingredients__groups">
      {% endif %}
      {% for ingredient_group in page.ingredients %}
          <li class="ingredients__group">
            {% if ingredient_group.group_name %}
            <h3 class="ingredients__group-title">{{ ingredient_group.group_name }}</h3>
            {% endif %}
            <ul class="ingredients__items">
              {% for ingredient in ingredient_group.items %}
                <li class="ingredients__item">
                  <div class="ingredient" itemprop="recipeIngredient">
                    <span class="ingredient__amount">{{ ingredient.amount }}</span>
                    <span class="ingredient__name">{{ ingredient.name }}</span>
                  </div>
                </li>
              {% endfor %}
            </ul>
        {% if page.ingredients.size > 1 %}
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div><!--

    --><div class="recipe__instructions">
      <h2>Instructions</h2>
      <ol itemprop="recipeInstructions">
        {% for instruction in page.instructions %}
          <li>{{ instruction }}</li>
        {% endfor %}
      </ol>
    </div>

    <div class="recipe__share">
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | absolute }}" target="_blank" rel="nofollow" class="btn">Share on Facebook</a>
      <a href='http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.twitter_username }}' class='btn'>Share on Twitter</a>
      <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" class="btn">Share via Email</a>
    </div>

    <div class="recipe__print">
      <a href="#" class="btn" onclick="window.print()">Print Recipe</a>
    </div>

  </div>
</div>

<div class="recipe__navigation">
  {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}" class="btn recipe__next">{{ page.next.title }}</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url}}" class="btn recipe__prev">{{ page.previous.title }}</a>
  {% endif %}
</div>

{% if page.comments %}
  <div class="recipe__comments">
    <!-- <h2>Comments</h2> -->
    {% include comments.html %}
  </div>
{% endif %}
