<div class="recipe__ingredients">
  <h2 class="ingredients__title">Ingredients</h2>
  {% if page.ingredient-groups.size > 1 %}
    <ul class="ingredients__groups">
  {% endif %}
  {% for ingredient_group in page.ingredient-groups %}
      <li class="ingredients__group">
        {% if ingredient_group.name %}
        <h3 class="ingredients__group-title">{{ ingredient_group.name }}</h3>
        {% endif %}
        <ul class="ingredients__items">
          {% for ingredient in ingredient_group.ingredients %}

            {% assign ingredient_obj = site.ingredient | where:"slug", ingredient.ingredient[0] | first %}

            <li class="ingredients__item">
              <div class="ingredient" itemprop="recipeIngredient">
                <span class="ingredient__amount">{{ ingredient.amount }}</span>
                {% if ingredient_obj.image %}
                  <a href="{{ ingredient_obj.url | relative_url }}" class="ingredient__name">{{ ingredient_obj.name }}</a>
                {% else %}
                  <span class="ingredient__name">{{ ingredient_obj.name }}</span>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
    {% if page.ingredient-groups.size > 1 %}
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
